/* Reset some default styles */

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Header navigation */

header {
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li.logo {
    font-size: 20px;
    color: red;
}

nav ul li.logo span {
    color: black;
    font-weight: bold;
}


/* Hero section */

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
}

.hero .overlay {
    position: absolute;
    text-align: center;
}

.hero h1 {
    color: black;
    font-size: 3rem;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
    margin-top: -100px;
}


/* Reset default styling */

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Contact section styling */

.section {
    background-color: #000;
    /* Black background */
    color: #fff;
    /* White text */
    padding: 50px;
    text-align: center;
}

.section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.section .intro {
    font-size: 1.2rem;
    margin-bottom: 40px;
    line-height: 1.5;
}

.details {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.details h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.details p {
    font-size: 1rem;
    line-height: 1.8;
}